<%= link_to "All Questions", root_path %>
<%= link_to "Add Answer", new_multiple_choice_challenge_choice_path(@question) %>

<h1><%= @question.title %></h1>
<p>Type: <%= @question.questionable_type %></p>

<h4>Answer Options:</h4>
<ul>
  <% @choices.each do |choice| %>
    <li><%= choice.content %> | Correct: <%= choice.correct %></li>
  <% end %>
</ul>
